<div class="container">
<h1>look who's pinning now.</h1>
<div id="columns">
    <% @users.each do |user| %>
      <div class="item-background">
        <div class="item-info">
          <h3><%= user.full_name rescue "N/A" %></h3>
          <h4><%= user.email rescue "N/A" %></h4>
        </div>
        <div class="item-links">
          <%= link_to 'Show', user %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
    <% end %>
     <p><%=@user_message%></p>
</div>

<br>

<%= link_to 'New User', new_user_path %>
</div>