<div class="container">
<h1>board to be wild.</h1>
<%= will_paginate @boards %>

<div id="columns">
    <% @boards.each do |board| %>
      <div class="item-background">
        <div class="item-info">
          <h3><%= board.name rescue "N/A" %></h3>
          <h4><%= board.about rescue "N/A" %></h4>
          <h4><%= board.user.full_name rescue "N/A" %></h4>
        </div>
        <div class="item-links">
          <%= link_to 'Show', board %>
          <%= link_to 'Edit', edit_board_path(board) %>
          <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
    <% end %>
</div>

<br>

<%= link_to 'New Board', new_board_path %>

<br>

</div>